
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="border: px solid #000" width="600" height:700px;>
  <tbody>
    <tr>
      <td height="102" align="center" bgcolor="#ffffff">
        <img src="http://tisvdigital.com/fcmbtrusteesportal/images/template/logo.png" />      </td>
    </tr>
    <tr>
      <td align="center" valign="top" style="padding: 10px; font-family: "Courier New", Courier, mono ; color:#000; line-height:150%;"><table width="100%"  border="0" cellspacing="1" cellpadding="15">
            <tr>
              <td>
                  Dear {name},<br>
                  <br />
      Your account has been activated on FCMB Trustees. Your account has been activated on FCMB Trustees . Your account has been activated on FCMB Trustees . Your account has been activated on FCMB Trustees . Your account has been activated on FCMB Trustees . Your account has been activated on FCMB Trustees . Your account has been activated on FCMB Trustees .
      <br>
      <br> 
      <br> 

      Thanks for choosing FCMB Trustees</td>
            </tr>
          </table></td>
    </tr>
    <tr>
      <td align="center" bgcolor="#ffffff" > <a href="#"><img src="http://tisvdigital.com/fcmbtrusteesportal/images/template/facebook.png" /></a> &nbsp; <a href="#"><img src="http://tisvdigital.com/fcmbtrusteesportal/images/template/twitter.png" /></a> &nbsp; <a href="#"><img src="http://tisvdigital.com/fcmbtrusteesportal/images/template/instagram.png" /></a> &nbsp; <a href="#"><img src="http://tisvdigital.com/fcmbtrusteesportal/images/template/linkedin.png" /></a> </td> 
    </tr>
  </tbody>
</table>
</body>
